<header class="header-container">
  <nav class="breadcrumb-container">
    <div class="breadcrumb">
			<h3>Admin</h3>
        {{svg-jar "chevron-right" }}
      <h3>Assignment 1</h3>
    </div>
  </nav>
  <div class="profile-container">
    <div class="profile-logo">
      R
    </div>
  </div>
</header>