# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/dist-story/
/.storybook/preview-head.html
/tmp/
/storybook-static/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log
/translations/en-translations.json
/test_results.xml

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# cache
/.eslintcache
