$tooltip-width: 25px;
$tooltip-height: 20px;
$tooltip-gap: 8px;
$tooltip-left-position: 8px;
$tooltip-triangle-size: 5px;
$tooltip-content-position:calc(100% + #{$tooltip-gap - $tooltip-triangle-size});
$tooltip-arrow-position: calc(100% + #{$tooltip-gap});
$btn-primary-hover-bg: $app-primary-font-color-hover;
$btn-default-hover-bg: $app-light-grey-bg;
$btn-default-border-color: $app-border-color;
$btn-primary-hover-border-color: $app-light-blueish-grey-color;
$btn-primary-border-color: $app-primary-font-color;

$btn-default-hover-box-shadow-color: #27313a42;

.hint {
  padding: 4px 8px;
  border-radius: 8px;
  position: relative;

  &::before,
  &::after {
    opacity: 0;
  }

  &::after {
    background-color: $app-primary-font-color;
    color: $app-white;
    content: attr(aria-label);
    width: 300%;
    padding: 2px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    height: 100%;
  }

  &::before {
    content: "";
    width: 0;
    position: absolute;
    z-index: 999;
  }

  &-top {
    @include tooltip-position('top', $tooltip-arrow-position, $tooltip-content-position);
  }

  &-bottom {
    @include tooltip-position('bottom', $tooltip-arrow-position, $tooltip-content-position);
  }

  &-left {
    @include tooltip-position('left', $tooltip-arrow-position, $tooltip-content-position);
  }

  &-right {
    @include tooltip-position('right', $tooltip-arrow-position, $tooltip-content-position);
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.btn {
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;

  &-default {
    background: $btn-default-bg;

    @include custom-border($btn-default-border-color);

    &:hover {
      background: $btn-default-hover-bg;

      @include custom-border($btn-default-border-color);

      box-shadow: $btn-hover-box-shadow-style $btn-default-hover-box-shadow-color;
    }
  }

  &-primary {
    background: $app-primary-font-color;
    color: $app-white;

    @include custom-border($btn-primary-border-color);

    &:hover {
      @include btn-hover-state($btn-primary-hover-bg, $btn-primary-hover-border-color, $app-box-shadow-dark-color);
    }
  }
}
