.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: $side-nav-width;
  padding-left: 24px;
  padding-right: 32px;
  height: $app-header-height;
  border-bottom: 1px solid $border-color;
  position: fixed;
  z-index: 999;
  background: $app-white;
  width: 97%;

  .breadcrumb-container {
    .breadcrumb {
      display: flex;

      h3 {
        font-size: $title-font-size;
        font-weight: $font-bold;
        color: $link-blue;
      }

      svg {
        margin: 0 8px;
        height: 20px;
        width: 20px;
      }
    }
  }
}
