.icon {
  &-new-tab {
    height: 10px;
    fill: $link-blue-color;
  }

  &-right-arrow {
    width: 20px;
  }

  &-search {
    width: 16px;
    height: 16px;
  }

  &-loading {
    width: 20px;
  }
}
