$status-card-max-width: 470px;

.status-cards-container {
  width: calc(100% - #{$app-sidebar-size});

  .status-cards {
    display: flex;
    flex-wrap: wrap;

    .status-card {
      display: flex;
      flex: 1 0 $status-card-max-width;

      @include custom-border($app-border-color);

      border-radius: 8px;
      box-shadow: $app-box-shadow;
      min-height: 160px;
      margin: 0 12px 12px 0;
      max-width: $status-card-max-width;

      &__content {
        padding: 26px 24px;

        &--paragragh {
          @include font-size($base-font-size);

          color: $app-dark-grey-color;
        }
      }

      &__img {
        &--container {
          display: flex;
          align-items: center;
          padding: 0 54px;
          background-color: $app-light-grey-color;
        }
      }
    }
  }
}

.title {
  @include font-size($title-large, 'heading');

  font-weight: $font-weight-semi-bold;
  margin-bottom: 12px;
}
