$avatar-icon-size: 40px;

.header {
  width: calc(100% - #{$app-navbar-size});

  @include custom-border($app-border-color);

  height: $app-navbar-size;
  position: fixed;
  background: $app-white;
  left: $app-navbar-size;
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;

  &__title {
    display: flex;
    align-items: center;

    @include font-size($title-large, 'heading');
  }

  &__icon {
    width: $avatar-icon-size;
    height: $avatar-icon-size;
    border-radius: 50%;
    line-height: $avatar-icon-size;
    text-align: center;

    @include custom-border($app-border-color);

    background-color: $link-blue-color;
    color: $app-white;
  }
}

.blue {
  color: $link-blue-color;
}
