<form>
  <div class="form-group">
    <label for="input-field">
      Input field
    </label>
    <input type="text" id="input-field" class="form-control" />
  </div>
  <div class="form-group">
    <label for="textarea-field">
      Textarea field
    </label>
    <textarea class="form-control" id="textarea-field"></textarea>
  </div>
  <div>
    <button type="button">Cancel</button>
    <button type="submit">Save</button>
  </div>
</form>
{{outlet}}