<aside class="sidebar__container">
  <h2 class="title">Status page</h2>
  <p class="sidebar__content">The Status page serves as a communication tool for businesses, enabling them to offer
    transparency regarding service availability and significant outages, fostering trust with customers who can
    subscribe to receive service updates via email.</p>
</aside>