@mixin font-size($size, $variant: 'normal') {
  font-size: $size;

  @if $variant == heading {
    line-height: $size * 1.5;
  }

  @else {
    line-height: $size * 1.25;
  }
}

@mixin custom-border($color: $app-border-color, $width: 1px, $style: solid, ) {
  border: $width $style $color;
}
