$text-normal: 12px;
$base-font-size: 14px;
$title-large: 16px;

$app-navbar-size: 64px;
$app-sidebar-size: 25%;
$nav-icon-size: 40px;

$sidebar-bg-hover: #435b74;
$app-border-color: #cfd7df;
$link-blue-color: #2c5cc5;
$app-black-color: #000;
$light-blue-color: #dff0ff;
$app-white: #fff;
$app-blueish-grey-color: #12344d;
$app-light-grey-bg: #f5f7f9;
$app-dark-grey-color:#475867;
$app-light-grey-color:#ebeff3;
$app-box-shadow: 0 1px 6px 0 #0000000d;

$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
