$size-64px: 64px;
$vertical-height: 100vh;
$margin-8px: 8px;
$sidebar-background-color: #12344D;
$size-16px: 16px;
$label-color: #475867;
$input-border: #CFD7DF;
$white-background: #fff;
$font-weight-bold: 600;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-size-basic: 12px;
$border-radius: 4px;
$border-focus-color: #2C5CC5;
$box-height: 32px;
$textarea-height: 80px;
$error-color: #D72D30;
$button-secondary-color: #F5F7F9;
$background_2: #264966;
$background_3: #F7F9FA;
$background_4: #dff0ff;
$line-height-20: 20px;
$border-color: #ebeff3;
$border-color2: #cac9c7;
$border-color3: #31d891;